body{
  background-color: rgb(226, 226, 226);
}
.container {
  border-radius: 20px;
  box-shadow: 0 0 6px #999;
  min-width: 500px;
  position: relative;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
  background-color: #41A838;

}


.part {
  border: 1px solid black;
  height: 150px;
  border-radius: 5px;
  flex-direction: row;
}

.doc-container {
  overflow: scroll;
}

.document {
  height: 40px;
  width: 40px;
  background-color: #2d6e27;
  color: white;
  display: inline;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease-in-out;
  animation-name: transport;
}
.document-title{
  font-weight: bold;
}

.worker-container {
  border: 1px solid black;
  box-shadow: 0 0 10px #ccc;
  overflow: scroll;
}

.worker-space {
  height: 150px;
  border-left: .5px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.worker-name {
  align-self: flex-start;
}

.start-button {
  width: 140px;
  height: 35px;
  background-color: rgb(3, 100, 8);
  color: white;
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  right: 3%;
  transform: translate(-5px,-4px);
  box-shadow: 0px 3px 2px rgb(75, 75, 0);
  text-align: center;

}

.start-button:hover {
  background-color: rgb(0, 75, 4);
}

.title {
  display: inline-block;
  box-shadow: 0 0 3px black;
  padding: 3px;
  min-width: 140px;
  text-align: center;
  border-radius: 5px;
background-color: white;

}

p {
  padding: 3px;
  font-size: 10px;
  text-align: center;
}

.counter {
  float: right;
  box-shadow: 0 0 4px black;
  padding: 3px;
  min-width: 140px;
  text-align: center;
  border-radius: 5px;
}
.worker-counter,.doc-counter{
  color: red;
}

.start-buton-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-size: 18px;
font-weight: bold;
}

#done {
  overflow: scroll;
}